<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
  </head>
  <body>
    <div class="display" style="background-color: red;"></div>
    <h1>Admin Dashboard</h1>
    <button class="admin-button"><a href="admin/users">Manage Users</a></button>
    <button class="admin-button"><a href="admin/amd-r">Manage AMD-Rs</a></button>
    <br/>
    <button class="logout"> <a href="/logout">Log Out</a></button>
  </body>

</html>
