<!DOCTYPE html>
<html>
    <head>
        <link href="/css/base.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="logo">
                <img class="logo" src="/media/auth/Logo.jpg" alt="University Logo">
            </div>
        </header>
    </body>
</html>
