.menu {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  margin-right: 75px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-dark);
  padding: 1em;
  font-weight: var(--fw-bold);
  text-decoration: none;
  font-size: 30px;
}

.introduction {
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.menu-item:hover {
  opacity: 0.7;
  text-decoration: none;
  transform: scale(1.2);
}
